div {
   text-align: center;
   color: #ffffff;
   font-size: 30px;
   font-weight: 600;
}
A {
    color: #FF7744; /* Цвет ссылок */
   }
   A:visited {
    color: #AAAAAA; /* Цвет посещенных ссылок */
   }
   A:active {
    color: #9966ff; /* Цвет активных ссылок */
   }
   